In [128]:
import pandas as pd
import numpy as np

#load the excel file
loc_tmp = ("E:\\Energy Indicators.xls")
file=pd.read_excel(loc_tmp)

#create dataframe
energy=pd.DataFrame(file)

#remove header and footer
energy=energy.drop(energy.index[0:17])
energy=energy.drop(energy.index[227:])
energy.reset_index(drop=True,inplace=True)

#rename columns
energy.columns=['tmp1','tmp2','Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

#drop the first two columns
energy.drop('tmp1',axis=1,inplace=True)
energy.drop('tmp2',axis=1,inplace=True)

energy['Energy Supply']=energy['Energy Supply']*1000000

# For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

energy_row_count=energy.shape[0]
i=0

while(i < energy_row_count):
    
    #set Nan in Energy Supply Column
    if ("str" in str(type(energy['Energy Supply'][i]))):
        energy['Energy Supply'][i]=np.nan
    
    #set Nan in Energy Supply per Capita Column
    if ("str" in str(type(energy['Energy Supply per Capita'][i]))):
        energy['Energy Supply per Capita'][i]=np.nan

    i+=1  

energy

if(energy['Country']=="Republic of Korea"):
    energy['Country']
    

: "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.6693
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000,121,88.6957
5,Angola,642000000,27,70.9091
6,Anguilla,2000000,136,0
7,Antigua and Barbuda,8000000,84,0
8,Argentina,3378000000,79,24.0645
9,Armenia,143000000,48,28.2361
10,Aruba,12000000,120,14.8707
11,Australia1,5386000000,231,11.8108
12,Austria,1391000000,164,72.4528
13,Azerbaijan,567000000,60,6.38434
14,Bahamas,45000000,118,0
15,Bahrain,574000000,425,0
16,Bangladesh,1625000000,10,1.96633
17,Barbados,19000000,69,0
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.95974
20,Belize,13000000,39,64.69
21,Benin,170000000,16,0
22,Bermuda,6000000,88,0
23,Bhutan,63000000,83,100
24,Bolivia (Plurinational State of),336000000,32,31.4771
25,"Bonaire, Sint Eustatius and Saba",5000000,213,0
26,Bosnia and Herzegovina,266000000,70,41.4647
27,Botswana,86000000,39,0.131406
28,Brazil,12149000000,59,69.648
29,British Virgin Islands,2000000,85,0
...,...,...,...,...
197,Switzerland17,1113000000,136,57.7455
198,Syrian Arab Republic,542000000,28,11.5683
199,Tajikistan,106000000,13,99.7429
200,Thailand,5336000000,79,4.30519
201,The former Yugoslav Republic of Macedonia,117000000,56,26.1405
202,Timor-Leste,7000000,6,0
203,Togo,134000000,19,80.1802
204,Tonga,3000000,28,0
205,Trinidad and Tobago,824000000,611,0
206,Tunisia,430000000,39,3.49255
207,Turkey,4897000000,64,28.5367
208,Turkmenistan,1102000000,210,0
209,Turks and Caicos Islands,3000000,85,0
210,Tuvalu,NaN,NaN,0
211,Uganda,452000000,12,68.0182
212,Ukraine18,4844000000,107,8.06731
213,United Arab Emirates,2710000000,300,0
214,United Kingdom of Great Britain and Northern I...,7920000000,124,10.6005
215,United Republic of Tanzania,994000000,20,31.0728
216,United States of America20,90838000000,286,11.571
217,United States Virgin Islands,NaN,NaN,0
218,Uruguay,196000000,58,71.605
219,Uzbekistan,1798000000,62,21.3284
220,Vanuatu,3000000,10,14.7059
221,Venezuela (Bolivarian Republic of),2871000000,95,67.8345
222,Viet Nam,2554000000,28,45.3215
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.7147
226,Zimbabwe,480000000,32,52.5361

In [121]:
energy.shape[0]

227