In [7]:
str="abc def"
#print(str.split())

In [8]:
p=str.replace(" ","")
print(p)

abcdef

In [38]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Admin\\Desktop\\General\\SEO.csv", header=None)
#df.columns=["Keywords"]
df.head()

                                           0
0                         1. Cloud based ETL
1                   2. Cloud migration tools
2                           3. Top ETL tools
3              4. Oracle ERP cloud migration
4  5. Sales force and Oracle ERP integration

In [39]:
a =[]
for i in df[0]:
    str=i.split(". ")
    a.append(str[1])
#print(a)
df2=pd.DataFrame(a)
#column_names=['Keywords']
df2.columns=["Keywords"]
print(df2.head())
#df2.rename(columns = {"0":"Keywords"})
df2.to_csv("C:\\Users\\Admin\\Desktop\\General\\SEO_r5.csv", index=None)

                                 Keywords
0                         Cloud based ETL
1                   Cloud migration tools
2                           Top ETL tools
3              Oracle ERP cloud migration
4  Sales force and Oracle ERP integration

In [43]:
str12="123+"
str_replace=lambda x: x.replace("+","")

print(str_replace(str12))

123

In [51]:
list_p=["p1","p2","p3"]
list_t=[4,9,3]
df3=pd.DataFrame({"Player":list_p,"Goals":list_t})
#df3.columns=["Player","goals"]
df3.head()

  Player  Goals
0     p1      4
1     p2      9
2     p3      3